:root {
    --color-primary: #4f46e5;
    --color-text: #111;
    --color-bg: #fff;

    --container-width: 1200px;
    --font-brand: "Fredoka", system-ui, sans-serif;
    --font-text: "Poppins", system-ui, sans-serif;
    --font-title: "Inter", system-ui, sans-serif;
}