.root {
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 20;
}

.word {
    position: absolute;
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 700;
    color: white;

    opacity: 0;
    will-change: transform, opacity;
}