.header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    color: white;
}

.logo {
    font-weight: 700;
    font-size: max(1.5rem, 2.5rem, 2.5rem);
    text-decoration: none;
    font-family: var(--font-brand);
}

.desktopNav {
    display: block;
}

.navList {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

li:hover {
    text-shadow: 0 0 10px white, 0 0 20px white;
    font-weight: 600;
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}

.mobileNav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    padding: 1rem 2rem;
}

.mobileNavList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.active {
    font-weight: 600;
    border-bottom: 2px solid white;
}

@media (max-width: 768px) {
    .desktopNav {
        display: none;
    }

    .menuButton {
        display: block;
    }
}