.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    background: transparent;
    color: white;
}

.logo {
    font-weight: 700;
    font-size: max(1.5rem, 2.5rem, 2.5rem);
    text-decoration: none;
    font-family: var(--font-brand);
}

.desktopNav {
    display: block;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

li {
    position: relative;
}

li.fall {
    z-index: 1000;
    transition: 0.2s;
    pointer-events: none;
    animation: fall 1s linear forwards;
}

li:hover {
    transform-origin: left center;
    transform: rotate(2deg);
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(1000px)  rotate(20deg);
    }
}

li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}

.mobileNav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    padding: 1rem 2rem;
}

.mobileNavList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.active {
    font-weight: 600;
    border-bottom: 2px solid white;
}

@media (max-width: 768px) {
    .desktopNav {
        display: none;
    }

    .menuButton {
        display: block;
    }
}