.hero {
    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 3rem;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); /* adjust opacity */
    z-index: 0;
}

.headerOverlay {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 1rem 0;
}

.content {
/*     grid-column: 3 / 8;
    grid-row: 3 / span 6; */
    justify-content: center;
    align-items: center;
    z-index: 2;
    max-width: 700px;
    gap: 2rem;
}

.title {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-text);
    margin-bottom: 1.5rem;
}

.subHeadline {
    font-family: var(--font-text);
    line-height: 1.4rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}


.emailCapture {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    color: #333;
}

p {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 1rem;
}

.emailCapture input {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    transition: all .25s ease;
}

.emailCapture input:focus {
    outline: none;
    border-bottom: 1px solid #29522E;
    font-family: var(--font-text);
}

.emailCapture .ctaButton {
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;
    background-color: #29522E;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
    transition: background-color 0.3s ease, transform 0.2 ease;
}

.emailCapture .ctaButton:hover {
    background-color: #2e5d32;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.2rem;
    }

    .ctaButton {
        font-size: 1.3rem;
        padding: 0.7rem 1.2rem;
    }
}