.hero {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 3rem;
    color: white;
    position: relative;
    overflow: hidden;
}

.headerOverlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 2;
}

.content {
    grid-column: 2 / 8;
    grid-row: 2 / span 6;
    z-index: 2;
    max-width: 700px;
    top: -100px;
    gap: 0.75rem;
}

.title {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--font-text);
    margin-bottom: 1.5rem;
}

.subHeadline {
    font-family: var(--font-text);
    line-height: 1.4rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}


.emailCapture {
    position: relative;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    color: #333;
}

.emailCapture p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 3rem;
}

.emailCapture input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all .25s ease;
}

.emailCapture input:focus {
    outline: none;
    border-bottom: 1px solid #29522E;
    font-family: var(--font-text);
}

.emailCapture .ctaButton {
    position: absolute;
    border-radius: 10px;
    padding: 12px 25px;
    display: inline-block;
    font-size: 1rem;
    background-color: #29522E;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    right: -15px;
    bottom: -25px;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
    transition: background-color 0.3s ease, transform 0.2 ease;
}

.emailCapture .ctaButton:hover {
    background-color: #2e5d32;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.2rem;
    }

    .ctaButton {
        font-size: 1.3rem;
        padding: 0.7rem 1.2rem;
    }
}