.hero {
    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 3rem;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* adjust opacity */
    z-index: 0;
}

.headerOverlay {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 1rem 0;
}

.content {
/*     grid-column: 3 / 8;
    grid-row: 3 / span 6; */
    justify-content: center;
    align-items: center;
    z-index: 2;
    max-width: 750px;
    gap: 2rem;
}

.content {
    transform: translateY(40px);
    opacity: 0;
    transition:
        transform 0.8s cubic-bezier(.22,1,.36,1),
        opacity 0.6s ease;
    transition-delay: 0.4s;
}

.content.enter {
    transform: translateY(0);
    opacity: 1;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-title);
    margin-bottom: 1.5rem;
}

.title {
    transform: translateX(-40px);
    opacity: 0;
    transition:
        transform 0.9s cubic-bezier(.22,1,.36,1),
        opacity 0.7s ease;
    transition-delay: 0.5s;
}

.title.enter {
    transform: translateX(0);
    opacity: 1;
}

.subHeadline {
    font-family: var(--font-title);
    line-height: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}


.emailCapture {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    color: #333;
}

p {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 0.5rem;
}

.emailCapture input {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    transition: all .25s ease;
}

.emailCapture input:focus {
    outline: none;
    border-bottom: 1px solid #29522E;
    font-family: var(--font-text);
}

.emailCapture .ctaButton {
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1rem;
    font-family: var(--font-title);
    background-color: initial;
    background-image: linear-gradient(#356e3b, #29522E);
    background-color: #29522E;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    transition: background-color 0.3s ease, transform 0.2 ease;
    align-items: center;
    border-width: 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    outline: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-decoration: none;
    transition: all 150ms;
    vertical-align: baseline;
    touch-action: manipulation;
}

.ctaButton:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .95;
}

.ctaButton:active {
  outline: 0;
}

.ctaButton:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.emailCapture {
    transform: translateX(40px);
    opacity: 0;
    transition:
        transform 0.9s cubic-bezier(.22,1,.36,1),
        opacity 0.7s ease;
    transition-delay: 0.8s;
}

.emailCapture.enter {
    transform: translateX(0);
    opacity: 1;
}

.emailCaptureSuccess {
    margin-top: 3rem;
    transition: opacity 0.7s ease;
}

@media (max-width: 420px) {
  .ctaButton {
    height: 48px;
  }
}

.emailCapture .ctaButton:hover {
    background-color: #2e5d32;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .subHeadline {
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .ctaButton {
        font-size: 1.3rem;
        padding: 0.7rem 1.2rem;
    }
}