.logo {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    font-weight: 700;
    font-size: max(1.5rem, 2.5rem, 2.5rem);
    text-decoration: none;
    font-family: var(--font-brand);
    align-items: center;
}

.text {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.eyes {
    position: absolute;
    top: 0.73em;
    left: 1.28em;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.4rem;
    margin-left: 0.5rem;
    z-index: 2;
}

.eye {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pupil {
    width: 7px;
    height: 7px;
    background: #4B6B89;
    border-radius: 50%;
    transition: transform 0.15s ease-out;
}

.pupil::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-bg);
    transform: ScaleY(0);
    transform-origin: top;
    transition: transform 0.12s ease-in;
}

.blink .pupil::after {
    transform: scaleY(1);
}
